extends layout

block content

    .resultados
        h2 Resultado da Busca

        - each row in rows
            .result_row
                a(href=row[4])
                    .result_img
                        img(src= row[3])

                    .result_infos

                        h4= row[0]
                        p= row[5]
                        p.dur= row[2]

                
                    
                     