<!DOCTYPE html>
<html ng-app="nodeMusic">
  <head>
    <title>USPotify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="mainController">
    <!-- Cadastro de Álbuns -->
    <div class="container">

      <div class="container">

        <h2> Cadastro de Álbuns </h2>
        <form>
          <div class="form-group">
            <label>Id do Album: </label>
            <input type="text" class="form-control input-lg" placeholder="ID" ng-model="formAlbum.id"> <br />

            <label>Nome do Album: </label>
            <input type="text" class="form-control input-lg" placeholder="Nome" ng-model="formAlbum.nome"> <br />

            <label>ID do Artista: </label>
            <input type="text" class="form-control input-lg" placeholder="Nome" ng-model="formAlbum.id_artista"> <br />

            <label>Produtora: </label>
            <input type="text" class="form-control input-lg" placeholder="Produtora" ng-model="formAlbum.prod"> <br />

            <label>Tipo do Album: </label>
            <input type="text" class="form-control input-lg" placeholder="Album, EP ou Single" ng-model="formAlbum.tipo"> <br />

            <label>Duração: </label>
            <input type="text" class="form-control input-lg" placeholder="00:00:00" ng-model="formAlbum.dur"> <br />

            <label>Foto de Capa: </label>
            <input type="text" class="form-control input-lg" placeholder="Caminho da imagem" ng-model="formAlbum.foto"> <br />

            <label>Ano do Álbum: </label>
            <input type="text" class="form-control input-lg" placeholder="2000" ng-model="formAlbum.ano"> <br />
          </div>

          <button type="submit" class="btn btn-primary btn-lg" ng-click="createAlbum()">Cadastrar Album</button>

        </form>

      </div>
      <div class="container">

        <h2> Remover um Álbum </h2>
        <form action="/api/v1/delAlbum", method="POST">
          <div class="form-group">

            <label>Id do Álbum: </label>
            <input type="text" class="form-control input-lg" placeholder="ID" name="id"> <br />

          </div>

          <button type="submit" class="btn btn-primary btn-lg">Remover Álbum</button>

        </form>

      </div>

      <div class="container">

        <h2> Alterar um Álbum </h2>

        <form action="/api/v1/updatealbum", method="POST">
          <div class="form-group">
            
            <label>Id do Artista a ser alterado: </label>
            <input type="text" class="form-control input-lg" placeholder="ID" name="id"> <br />

            <label>Nome do Álbum: </label>
            <input type="text" class="form-control input-lg" placeholder="Nome" name="nome"> <br />

            <label>Produtora: </label>
            <input type="text" class="form-control input-lg" placeholder="Produtora do álbum" name="produtora"> <br />

            <label>Tipo do Álbum: </label>
            <input type="text" class="form-control input-lg" placeholder="Álbum, EP ou Single" name="tipo"> <br />

            <label>Duração do Álbum: </label>
            <input type="text" class="form-control input-lg" placeholder="00:00:01" name="duracao"> <br />

            <label>Foto de capa do álbum: </label>
            <input type="text" class="form-control input-lg" placeholder="Caminho" name="foto_capa"> <br />

            <label>Data do álbum </label>
            <input type="text" class="form-control input-lg" placeholder="01-01-1900" name="ano"> <br />

          </div>

          <button type="submit" class="btn btn-primary btn-lg" >Alterar Álbum</button>

        </form>

      </div>


    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>